<div id="propminisearch">
    <h1>Search the Islands with Ease</h1>
    <br />
    <ul class="propminisearch-toolbox">
        <li><button>Test 1</button></li>
        <li><button>Test 2</button></li>
        <li><button>Test 3</button></li>
    </ul>
    @*<p>
        This is the property mini search partial view that will be shown underneath the nav-bar on the home page.
    </p>*@
</div>
